
*{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right,rgb(230, 63, 63),rgb(78, 5, 17));
}
#top-bar{
    display: inline-block;
    position: relative;
    background-image: url(bg1.jpg);
    text-align: center;
    font-size: 5vw;
    font-family: 'Dancing Script', cursive;
    width: 32.5vw;
    left: 20vw;
    border-radius: 1vw;
    margin-top: 5vw;
    color: whitesmoke;
    border: 2px yellow solid;
}
#big-box{
    position: relative;
    left: 20vw;
    display: block;
    width: 33vw;
}
.row{
    display: table-row;
    width: 33vw;
    text-align: center;
}
.tile1{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile2{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile3{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile4{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile5{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile6{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile7{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile8{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile9{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile10{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile11{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile12{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile13{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile14{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile15{
    display: table-cell;
    width: 8vw;
    background-image: url(bg1.jpg);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}
.tile16{
    display: table-cell;
    width: 8vw;
    background-image: url(bg2.jfif);
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
    color: white;
}

.btn{
    position: absolute;
    font-size: 3vw;
    display: block;
    background-image: linear-gradient(to bottom right, rgb(211, 72, 114), rgb(255, 0, 21));
    color: white;
    top: 28vw;
    padding: 1vh 1vw 1vh 1vw;
    cursor: pointer;
    left: 58vw;
    border-radius: 10px;
    margin-left: 1vw;
}
.btn:hover{
    background-image: linear-gradient(to bottom right, rgb(165, 48, 83), rgb(89, 33, 141));
}
.moves{
    position: absolute;
    font-size: 3vw;
    display: block;
    background-image: linear-gradient(to bottom right, rgb(211, 72, 114), rgb(255, 0, 21));
    color: white;
    top: 5vw;
    padding: 1vh 1vw 1vh 1vw;
    margin-left: 1vw;
    border-radius: 10px;
    text-align: center;
    left: 58vw;
}
.timer{
    position: absolute;
    font-size: 3vw;
    display: block;
    background-image: linear-gradient(to bottom right, rgb(211, 72, 114), rgb(255, 0, 21));
    color: white;
    top: 5vw;
    padding: 1vh 1vw 1vh 1vw;
    margin-left: 1vw;
    border-radius: 10px;
    text-align: center;
    left: 70vw;
}
.score{
    position: absolute;
    top: 16vw;
    left: 65vw;
    font-size: 3vw;
    display: block;
    background-image: linear-gradient(to bottom right, rgb(211, 72, 114), rgb(255, 0, 21));
    color: white;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 10px;
    text-align: center;

}

