
*{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    background-color: red;
}
#top-bar{
    display: inline-block;
    position: relative;
    background-color: rgb(231, 144, 14);
    text-align: center;
    font-size: 230%;
    width: 33vw;
    left: 25vw;
    border-radius: 1vw;
    margin-top: 5vw;
    color: whitesmoke;
    border: 2px yellow solid;
}
#big-box{
    position: relative;
    left: 25vw;
    display: block;
    width: 33vw;
}
.row{
    display: block;
    width: 33vw;
    text-align: center;
}
.tile1{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile2{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile3{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile4{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile5{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile6{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile7{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile8{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile9{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile10{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile11{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile12{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile13{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile14{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile15{
    display: table-cell;
    width: 8vw;
    background-color: orange;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}
.tile16{
    display: table-cell;
    width: 8vw;
    background-color: grey;
    height: 8vw;
    border: 2px yellow solid;
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    transition: all;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10%;
}

.btn{
    position: absolute;
    font-size: 200%;
    display: block;
    background-color: green;
    color: white;
    top: 22vw;
    padding: 1vh 1vw 1vh 1vw;
    cursor: pointer;
    left: 58vw;
    border-radius: 10px;
    margin-left: 1vw;
}
.btn:hover{
    background-color: rgb(24, 54, 24);
}
.moves{
    position: absolute;
    font-size: 200%;
    display: block;
    background-color: green;
    color: white;
    top: 5vw;
    padding: 1vh 1vw 1vh 1vw;
    cursor: pointer;
    margin-left: 1vw;
    border-radius: 10px;
    text-align: center;
    left: 58vw;
}
.timer{
    position: absolute;
    font-size: 200%;
    display: block;
    background-color: green;
    color: white;
    top: 5vw;
    padding: 1vh 1vw 1vh 1vw;
    cursor: pointer;
    margin-left: 1vw;
    border-radius: 10px;
    text-align: center;
    left: 67vw;
}